@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

* {
box-sizing: border-box;
margin: 0;
}
 
body {
font-family: 'Josefin Slab', serif;
color: rgb(0, 0, 0);
background: #fff;
}
.nav{
display: flex;
flex-direction: column;
}

.container1{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 10vh;
padding: 10px 20px;
}
.logo{
display: flex;
flex-direction: row;
width: 25vw;
align-items: center;
font-family: 'Josefin Slab', serif;
margin-left: 15px;
justify-content: space-between;
}
.img_logo{
width: 78px;
height: 78px;
}
.logo h1 a{
color:#617453;
text-decoration: none;
font-size: 35px;
text-transform: uppercase;
}
.logo h1 a:hover{
color:#394531;  
}
.container1 ul{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 40vw;
margin-right: 15px;
color: #000;
}
.container1 ul a{
color: #617453;
text-decoration: none; 
font-size: 14px; 
text-transform: uppercase; 
font-weight: bold;  
}
.container1 ul a:hover{
color: #394531; 
font-weight: bolder;
text-decoration: underline;
}
.container2{
background-color: #617453;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 10vh;
padding: 10px 20px;

}
.cont2-left {
display: flex;
align-items: center;
background-color: #fff;
border: 1px solid #ccc;
height: 50px;
border-radius: 50px;
padding-right: 3px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.busca {
border: none;
padding: 10px;
font-size: 16px;
outline: none;
border-radius: 50px;
width: 300px;
}

.btnBusca {
border: none;
background-color: #617453;
color: white;
font-size: 16px;
cursor: pointer;
border-radius:100%;
height: 45px;
width: 45px;
text-align-last: center;
transition: background-color 0.3s;
}

.btnBusca:hover {
background-color: #394531;
}
.container2 ul{
display: flex;
flex-direction: row;
}
.menu{
display: flex;
flex-direction: row;
background-color: #617453;
margin-right: 10px;
border: none;
outline: none;
cursor: pointer;
color: #fff;
height: 50px;
width: fit-content;
text-transform: uppercase;
text-align-last: center;    
align-items: center;
justify-content: space-between;
padding: 0 8px;
}
.menu:hover{
color: #c0d3b2;
}

.steps{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 200px;
    color: #999;
}

.steps a{
    color: #999;
    font-size: 20px;
    text-decoration: none;
}


.paginaProd {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.produto{
    display: flex;
    flex-direction: row;
}
.product-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    margin-bottom: 20px;
    padding-left: 30px;
}

.main-image {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thumbnail {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
}
.product-details{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 50vw;
}


.price {
    margin: 10px 0;
    font-size: 22px;
    color: #000;
}

.size-selection, .color-selection, .quantity-selection {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.size-selection button   {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.size-option.selected {
    border: 2px solid #394531; /* Cor da borda quando selecionado */
    background-color: #abc997; /* Cor de fundo quando selecionado */
  }
.color-selection button{
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}
.color-option.selected{
    border: 2px solid #000;
}
.quantity-btn{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quantity-btn button{
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    color: #999;
    cursor: pointer;
    border-radius: 1px;
}
.quantity-selection input {
    width: 30px;
    text-align: center;
    border: none;
}


.finalize-btn {
    background-color: #617453;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
}
.finalize-btn:hover{
background-color: #394531;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btns .add-carrinho{
    background-color: #fff;
    border: 2px solid #617453;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.btns .add-carrinho:hover{
    background-color: #97b185;
    transform: none;
    color: #fff;
}

.botoes{
    width: 99vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.avali, .dets{
    background-color: #fff;
    border: none;
    margin: 10px 50px;
    font-size: 25px;
    font-family: 'Josefin Slab', serif ;
    cursor: pointer;
}
.dets{
    text-decoration: underline;
}
.avali:hover, .dets:hover{
    text-decoration: underline;
}
.detalhes {
   display: flex;
   flex-direction: row;
   width: 95vw;
   justify-content: space-between;
    padding: 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-details-right{
    width: 44vw;
    padding: 10px;
}

.product-details-left{
    width: 44vw;
    padding: 10px;
}
.product-description, .product-composition, .care-instructions {
    margin-top: 20px;
}

.product-description h2, .product-composition h2, .care-instructions h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.care-instructions ul {
    list-style: none;
    padding: 0;
}

.care-instructions ul li {
    margin: 5px 0;
}


.avaliacoes{
    display:none;
    flex-direction: column;
}
.reviews{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 380px;
}
.review-summary {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.review-bar {
    margin-top: 10px;
}

.review-bar div {
    margin-bottom: 5px;
}

.review-bar div:before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: #ccc;
    margin-right: 5px;
}

.review-summary p {
    margin-right: 20px;
}

.individual-reviews .review {
    margin-top: 20px;
    align-items: flex-start;
    width: 600px;
    border: 1px solid #394531;
    padding: 20px;
    border-radius: 10px;
}
.review h4{
    font-size: 20px;
}
.individual-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Related Products */
.sugestoes {
    margin-top: 40px;
}
.itens{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.suggested-item {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 120px;
    text-align: center;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
}
.informacoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.informacoes h4{
    font-size: 20px;
    cursor: pointer;
}
.informacoes h4:hover{
    text-decoration: underline;
}
.preco{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.suggested-item img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.old-price {
    text-decoration: line-through;
    color: red;
}

.new-price {
    font-size: 20px;
    font-weight: bold;
}

.discount {
    color: green;
}
.add-carrinho{
    background-color: #fff;
    border: 2px solid #617453;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.add-carrinho:hover{
    transform: scale(1.07);
}

footer {
    color: white;
    padding: 20px 0;
}
    
.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: #abc997;
    padding: 50px 200px 20px 200px;
    height: 300px;
    align-items: flex-start;
}
.footer-column{
    height: 120px;
}
.footer-column h3 {
    margin-bottom: 10px;
    color: #394531;
    font-weight: bolder;
    }
    
    .footer-column a {
    color: #394531;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    margin-top: 20px;
    }
    .footer-column a:hover{
    text-decoration: underline;
    }
    .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    .footer1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding: 20px 40px;
    }
    .pagamentos img{
    margin-right: 40px;
    }
    .footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 40px;
    align-items: center;
    }
    .footer2 p {
    margin: 0;
    color: #394531;
    }
    .social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    .social-icons img {
    width: 30px;
    margin-left: 20px;
    }